* {
  background-color: black;
}

h1 {
  color: white;
}

img {
  width: 100px;
  border-radius: 100px;
}

.playlistcard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px;
}
